body{
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: linear-gradient(to right, rgba(14, 148, 226, 0.751),rgb(219, 199, 199));
  }


  main{
    flex: 1 0 auto;
  }

.register {
    margin-bottom: 5px;
}

.text-shadow{
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

.brand-logo{
    margin-left: 15px;
}

.inline-block img{
    width: 100%;
}

.home-pics{
    position:relative;
}

.fa-solid .right{
    line-height: 0;
    margin-left: 0;
}

.home-text-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.text-container{
    display: flex;
    flex-direction: column;

}

.home-text{
    text-transform:uppercase;
    letter-spacing: 5px;
}

.home-text, .home-para{
    padding: 8px;
    margin: 0;
    color: orange;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.250);
}

.home-para{
    font-weight: bold;
    font-size: medium;
}

.footer-text{
    display: inline;
    padding-left: 5%;
}

.card-panel .row{
    margin-right: 0;
    margin-left: 0;
}

.flashes h4{
    line-height: 2;
}

.card-image > img {
    opacity: 0.8;
}

.card-content > p {
    text-align: center;
}

.make-post, .view-profile{
    margin-top: 28px;
}

.make-post{
    margin-left: 40px;
}

.view-profile{
    margin-right:40px;
}

.fa-upload{
    font-weight: 900;
}
