body{
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: linear-gradient(to right, rgba(14, 148, 226, 0.751),rgba(25, 195, 141, 0.794));
  }


  main{
    flex: 1 0 auto;
  }

.text-shadow{
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

/* -- Fonts -- */

h2{
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.nav-links {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

/* -- Top Navbar -- */

.brand-logo{
    margin-left: 15px;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-family: "Nunito", sans-serif;
}

i.fa-solid.fa-person-running.right {
    z-index: 9999;
    margin-left: 0;
}

.fa-solid .right{
    line-height: 0;
    margin-left: 0;
} 

/* -- Side Nav Links -- */
.side-nav-links > a{
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: white;
}

/* -- home page -- */
.home-text{
    text-transform:uppercase;
    letter-spacing: 5px;
}

.home-text, .home-para{
    padding: 8px;
    margin: 0;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.250);
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-family: "Nunito", sans-serif;
}

.home-text-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.home-para{
    font-weight: bold;
    font-size: medium;
}

/* -- Homepage Images -- */

.inline-block img{
    width: 100%;
    border-style: groove;
    border-color: black;
}

.text-container{
    display: flex;
    flex-direction: column;

}

.card-panel .row{
    margin-right: 0;
    margin-left: 0;
}

/* -- flash messages -- */

.flashes h4{
    line-height: 2;
}

/* -- Profile Page -- */

/* - Profile Top Section - */

.profile-name{
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: bold; 
}

.make-post, .view-profile{
    margin-top: 28px;
    border-radius: 40px;
    border: inset;
    font-family: "ABeeZee", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.make-post > a:hover{
    font-weight: 900;
    padding: 10px
}

.card-shape{
    border-radius: 40px;
}

.profile-top{
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    align-items: baseline;

}

/* - Post Card (Main Section) - */

.card-image > img {
    opacity: 0.9;
}

.card-content > p {
    text-align: center;
}

.post-cards{
    border-style: ridge;
    border-color: blueviolet;
}

.card-content > p, .card-reveal > p, 
.card-content > span, .card-image > span{
    font-family: "ABeeZee", sans-serif;
    font-weight: 800;
    font-style: italic;
    color: white;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}


/* -- Edit Profile Page -- */

.edit-content > h5{
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.edit-content > p{
    font-family: "ABeeZee", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.edit-info{
    padding: 8px;
    border: ridge;
}
/*
.card-panel{
    background-image: linear-gradient(to bottom, rgba(14, 148, 226, 0.751),rgba(25, 195, 141, 0.794))
}
*/
/* -- Modal Pages -- */

.modal-content > h4{
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: aliceblue;
}

.modal-content > p {
    font-family: "ABeeZee", sans-serif;
    font-weight: 800;
    font-style: italic;
    color: aliceblue;
}

.modal-body, .modal-footer{
    background-image: linear-gradient(to left, rgba(14, 148, 226, 0.751),rgba(25, 195, 141, 0.794));
}

.modal-body{
    border-style: ridge;
    border-color: blueviolet;
}

/* -- Community Page -- */

.search-btns{
    margin: 5px
}

.search-engine{
    background-image: linear-gradient(to top, rgba(14, 148, 226, 0.751),rgba(25, 195, 141, 0.794));
}

/* -- footer -- */
.footer-text{
    display: inline;
    padding-left: 5%;
}

.social-links{
    font-weight: 700;
    font-size: x-large;
    color: rgba(25, 195, 141, 0.794);
    padding-bottom: 15px;
}

@media only screen and (max-width: 600px){
    i.fa-solid.fa-person-running.right{
        z-index: 9999;
        margin-left: 0;
        line-height: 2;
    }
}

@media only screen and (max-width: 652px){
    .row .col {
        padding:0;
    }
}

.workout-category-text{
    font-size: small;
}