{% extends "base.html" %}
{% block content %}
  <h2 class="center-align orange-text darken-2 text-shadow">FITHUB COMMUNITY</h2>

    <div class="row card-panel blue lighten-5">
      <form action="{{ url_for('search') }}" method="POST" class="col s12">
          <div class="row valign-wrapper center-align"> 
            <div class="input-field col s12 m8">
                <i class="fa-brands fa-searchengin prefix"></i>
                <input type="text" name="query" id="query" minlength="3" class="validate">
                <label for="query">Search Tasks</label>
            </div>
            <div class="col s12 m6">
              <a href="{{ url_for('community')}}" class="red btn ">Reset</a>
              <button type="submit" class="orange darken-2 btn">
                <i class="fa-solid fa-magnifying-glass left"></i> Search
              </button>
            </div>
          </div>
      </form>
    </div>

    {% if posts|length > 0 %}
    <div class="row">
      {% for post in posts %}
      <div class="col s12 m6 l4">
        <div class="card post-cards">
          <!-- post layout -->
          <div class="card-image">
            <img src="{{ url_for('static' , filename = 'images/' + post.workout_image) }}">
            <span class="card-title">{{ post.workout_category.upper() }}</span>
          </div>
          <div class="card-content">
            <p>Created By: {{ post.profile_by }}</p>
            <p>{{ post.workout_title }}</p>
            <p>RPE Rating: {{ post.rpe_scale }}</p>
          </div>
          <ul class="collapsible">
            <li>
              <div class="collapsible-header"><i class="fa-solid fa-ellipsis-vertical"></i></div>
              <div class="collapsible-body"><span>{{ post.workout_description }}</span><br>
                <span>Date Posted: {{ post.date_posted }}</span>
            </li>
          </ul>
        </div>
      </div>
      {% endfor %}
    </div>
    {% else %}
    <h3 class="center-align dark-blue-text darken-3">No Results Found</h3>
    {% endif %}

{% endblock %}
