{% extends "base.html"%}
{% block content %}
    <div class="row">
        <div class="col s6 offset-s3 center-align">
            <div class="card purple darken-3 card-shape">
              <div class="card-content white-text">
                <span class="card-title center-align text-shadow">
                    {{ user.username.capitalize() }}'s Profile</span>
              </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s8 offset-s2 center-align">
            <div class="card-action purple darken-3 edit-info">
                <div class="card-content white-text center-align edit-content">
                    <h5>Username: {{ user.username }}</h5>
                    <h5>Email Address: {{ user.email_address }}</h5>
                    <h5>DOB: {{ user.dob }}</h5>
                    <p>Bio: {{user.profile_bio }}</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Update Profile Details -->
    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" 
        action="{{ url_for('edit_profile', username=session['user']) }}">
            <div class="card-panel cyan">
                <!-- Username -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fa-solid fa-user prefix white-text text-shadow"></i>
                        <input id="username" name="username" 
                        type="text" value="{{ user.username }}" disabled>
                        <label for="username">Username</label>
                    </div>
                </div>
                <!-- Email Address -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fa-solid fa-envelope prefix white-text text-shadow"></i>
                        <input id="email_address" name="email_address"
                        type="email" class="validate" value="{{ user.email_address }}"required>
                        <label for="email_address">Email Address</label>
                    </div>
                </div>
                <!-- DOB -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fa-regular fa-calendar-days white-text text-shadow prefix"></i>
                        <input id="dob" name="dob" type="text" 
                        value="{{ user.dob }}" class="datepicker">
                    </div>
                </div>
                <!-- Profile Bio-->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fa-solid fa-message white-text text-shadow prefix"></i>
                        <textarea name="profile_bio" id="profile_bio" minlength="5" maxlength="500"
                        class="materialize-textarea validate" 
                        placeholder="Tell us about yourself" required>
                        {{- user.profile_bio -}}</textarea>
                    </div>
                </div>
                <!-- submit button -->
                <div class="row">
                    <div class="col s12 m4 center-align">
                        <button type="submit" class="btn green accent-2">
                            Edit Profile <i class="fa-solid fa-circle-check postfix"></i> 
                        </button>
                    </div>
                    <div class="col s12 m4 center-align">
                        <a data-target="delete_profile" 
                        class="modal-trigger purple darken-3 btn">
                        Delete Profile <i class="fa-solid fa-trash postfix"></i></a>
                    </div>
                    <div class="col s12 m4 center-align">
                        <a href="{{ url_for('profile', username=session['user'])}}" 
                        class="grey lighten-1 btn">Back<i class="fa-solid fa-backward postfix"></i></a>
                    </div>
                </div>
                <div id="delete_profile" class="modal modal-body">
                    <div class="modal-content center-align">
                      <h4>Are you sure you want to delete profile?</h4>
                      <p>These changes cannot be reversed</p>
                    </div>
                    <div class="modal-footer">
                      <a href="{{ url_for('delete_profile', user_id=user._id) }}" 
                      class="modal-close waves-effect purple darken-3 btn">Delete Profile<i 
                      class="fa-solid fa-trash right"></i></a>
                      <a href="#!" 
                      class="modal-close waves-effect grey lighten-1 btn">Cancel<i class="fa-solid fa-x right"></i></a>
                    </div>
                  </div>
            </div>
        </form>
    </div>
{% endblock%}