{% extends "base.html"%}
{% block content %}

    <h2 class="center-align white-text text-shadow">Edit Post</h2>

    <div class="row card-panel cyan">
        <form class="col s12" method="POST" action="{{ url_for('edit_post', post_id=post._id) }}">
            <!--workout category-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fa-solid fa-list white-text text-shadow prefix"></i>
                    <select id="workout_category" name="workout_category" class="validate" required>
                        <option class="white-text" value="" disabled>Choose your option</option>
                        {% for workout in workouts %}
                            {% if workout.workout_category == post.workout_category %}
                                <option value="{{ workout.workout_category }}" selected>{{ workout.workout_category }}</option>
                            {% else %}
                                <option value="{{ workout.workout_category }}">{{ workout.workout_category }}</option>
                            {% endif%}
                        {% endfor %}
                    </select>
                    <label for="workout_category" class="white-text">Select a Workout</label>
                </div>
            </div>
            <!-- workout title-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fa-solid fa-dumbbell white-text text-shadow prefix"></i>
                    <input id="workout_title" name="workout_title" minlength="3" maxlength="45"
                    type="text" class="validate" placeholder="What title are you giving your workout?"
                    value="{{ post.workout_title }}" required>
                </div>
            </div>
            <!-- workout description-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fa-solid fa-message white-text text-shadow prefix"></i>
                    <textarea name="workout_description" id="workout_description" minlength="5" maxlength="500"
                    class="materialize-textarea validate" placeholder="Let us all know how you did :D" required>
                    {{- post.workout_description -}}</textarea>
                </div>
            </div>
            <!-- RPE chart slect-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fa-solid fa-heart-pulse prefix white-text text-shadow"></i>
                    <select id="rpe_scale" name="rpe_scale" class="validate" required>
                        <option value="{{ post.rpe_scale }}"  selected>{{ post.rpe_scale }}</option>
                        {% for i in range(1, 11) %}
                        {% if current_rpe_scale == i %}
                            <option value="{{ i }}" selected>{{ i }}</option>
                        {% else %}
                            <option value="{{ i }}">{{ i }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                    <label for="rpe_scale" class="white-text">RPE Chart</label>
                </div>
            </div>
            <!-- submit button-->
            <div class="row">
                <div class="col s12 center-align">
                    <button type="submit" class="btn-large purple darken-3">
                        Edit Post <i class="fa-solid fa-circle-check right"></i> 
                    </button>
                    <a href="{{ url_for('profile', username=session['user'])}}" 
                    class="grey lighten-1 btn-large">Cancel<i class="fa-solid fa-backward right"></i></a>
                </div>
            </div>
        </form>
    </div>

{% endblock%}