{% extends "base.html" %}
{% block content %}
    <h2 class="center-align">Fithub</h2>
    <section>
        <div class="container">
            <div class="row">
                <div class="col s12 l4 inline-block">
                    <img class="home-pics" src="/static/images/arm-workout.png">
                </div>
                <div class="col s12 l4 inline-block">
                    <img class="home-pics" src="/static/images/back-workout.png">
                </div>
                <div class="col s12 l4 inline-block">
                    <img class="home-pics" src="/static/images/shoulder-workout.png">
                </div>
            </div>
        </div>
    </section>

{% endblock %}