{% extends "base.html" %}
{% block content %}
    <h2 class="center-align white-text text-shadow">FITHUB.<i class="fa-solid fa-person-running"></i></h2>
    <section>
        <div class="container">
            <div class="row">
                <div class="col s12 l4 inline-block">
                    <img src="/static/images/arm-workout.png">
                </div>
                <div class="col s12 l4 inline-block">
                    <img src="/static/images/back-workout.png">
                </div>
                <div class="col s12 l4 inline-block">
                    <img src="/static/images/shoulder-workout.png">
                </div>
            </div>
        </div>
        <div class="home-text-container">
            <div class="text-container center-align white-text text-shadow">
                <h4 class="home-text">Showcase your best lifts !</h4>
                <h4 class="home-text">Flaunt those muscles !</h4>
                <h4 class="home-text">Boast that strength !</h4>
                <p class="home-para">Welcome to <strong>FITHUB</strong>. We are a fitness community that welcomes everyone.<br>
                    This is a hub where you can view and like other members content whilst also posting your own.<br>
                    The aim is to inspire each other through our different and unique ways of 
                    working out and to be the best versions of ourselves.</p>
            </div>
        </div>
    </section>

{% endblock %}