{% extends "base.html" %}
{% block content %}
<!-- user's username tag-->
<div class="row profile-btns-tags">
    <div class="col s12 m4 center-align">
      <button type="submit" class="btn light-blue darken-1 view-profile">View Profile</button>
    </div>
    <div class="col s12 m4 center-align">
      <div class="card light-blue darken-1">
        <div class="card-content orange-text text-darken-2">
          <span class="card-title center-align">{{ username.capitalize() }}'s Profile</span>
        </div>
      </div>
    </div>
    <div class="col s12 m4 center-align">
      <button type="submit" class="btn light-blue darken-1 make-post"><a class="white-text" href="{{ url_for('add_post') }}">Make a Post</a></button>
    </div>
  </div>

  <div class="row">
    {% for post in posts %}
    <div class="col s12 m6 l4">
      <div class="card">
        <div class="col s12 center-align card-action">
          <a href="{{ url_for('edit_post', post_id=post._id) }}" class="btn light-blue">Edit</a>
          <a href="" class="btn orange darken-2">Delete</a>
        </div>
        <div class="card-image">
          <img src="/static/images/arm-workout.png">
          <span class="card-title">{{ post.workout_category.upper() }}</span>
        </div>
        <div class="card-content">
          <p>Created By: {{ post.profile_by }}</p>
          <p>{{ post.workout_title }}</p>
          <p>RPE Rating: {{ post.rpe_scale }}</p>
        </div>
        <ul class="collapsible">
          <li>
            <div class="collapsible-header"><i class="fa-solid fa-ellipsis-vertical"></i></div>
            <div class="collapsible-body"><span>{{ post.workout_description }}</span><br>
              <span>Date Posted: {{ post.date_posted }}</span>
          </li>
        </ul>
      </div>
    </div>
    {% endfor %}
  </div>

{% endblock %}
