{% extends "base.html" %}
{% block content %}
<!-- user's username tag-->
<div class="row profile-btns-tags">
    <div class="col s12 m4 center-align">
      <button data-target="view_profile" class="btn light-blue darken-1 view-profile modal-trigger">
        View Profile</button>
    </div>
    <div class="col s12 m4 center-align">
      <div class="card light-blue darken-1">
        <div class="card-content">
          <span class="card-title orange-text text-darken-2 center-align profile-name">
            {{ user.username.capitalize() }}'s Profile</span>
        </div>
      </div>
    </div>
    <!-- make a post -->
    <div class="col s12 m4 center-align">
      <button class="btn light-blue darken-1 make-post"><a class="white-text" href="{{ url_for('add_post') }}">Make a Post</a></button>
    </div>
  </div>
  <div class="row">
    {% for post in posts %}
      {% if session['user'] == post.profile_by %}
        <div class="col s12 m6 l4">
          <div class="card">
            <!-- edit and delete functions -->
            <div class="col s12 center-align card-action">
              <a href="{{ url_for('edit_post', post_id=post._id) }}" class="btn light-blue">Edit</a>
              <a data-target="delete_post_modal" class="modal-trigger btn orange darken-1">Delete</a>
            </div>
            <!-- post layout -->
            <div class="card-image">

              <img src="{{ url_for('static' , filename = 'images/' + post.workout_image) }}">
              <span class="card-title">{{ post.workout_category.upper() }}</span>
            </div>
            <div class="card-content">
              <p>Created By: {{ post.profile_by }}</p>
              <p>{{ post.workout_title }}</p>
              <p>RPE Rating: {{ post.rpe_scale }}</p>
            </div>
            <ul class="collapsible">
              <li>
                <div class="collapsible-header"><i class="fa-solid fa-ellipsis-vertical"></i></div>
                <div class="collapsible-body"><span>{{ post.workout_description }}</span><br>
                  <span>Date Posted: {{ post.date_posted }}</span>
              </li>
            </ul>
          </div>
        </div>
        <!--view profile modal-->
        <div id="view_profile" class="modal">
          <div class="modal-content center-align">
            <h4>{{ session['user'].capitalize() }}'s Profile</h4>
            <h4>{{ user.email_address}}</h4>
            <h4>{{ user.dob }}</h4>
            <h4>{{ user.profile_bio }}</h4>
          </div>
          <div class="modal-footer">
            <a href="{{ url_for('edit_profile', username=session['user'])}}" class="modal-close waves-effect orange text-darken-2 btn">Edit Profile</a>
          </div>
        </div>
        <!-- delete post modal -->
        <div id="delete_post_modal" class="modal">
          <div class="modal-content center-align">
            <h4>Are you sure you want to delete post?</h4>
            <p>Changes as such are permanent</p>
          </div>
          <div class="modal-footer">
            <a href="{{ url_for('delete_post', post_id=post._id) }}" class="modal-close waves-effect orange text-darken-2 btn">Delete</a>
            <a href="#!" class="modal-close waves-effect dark-blue darken-1 btn">Cancel</a>
          </div>
        </div>
      {% endif%}
    {% endfor %}
  </div>

{% endblock %}
