{% extends "base.html" %}

{% block content %}

    <h3 class="center-align white-text text-shadow">REGISTER</h3>

    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register') }}">
            <div class="card-panel cyan">
                <!-- Username -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fa-solid fa-user prefix white-text text-shadow"></i>
                        <input id="username" name="username" 
                        type="text" class="validate" pattern="^[a-zA-Z0-9]{5,15}$"
                        minlength="5" maxlength="15" required>
                        <label for="username" class="white-text">Username</label>
                    </div>
                </div>
                <!-- Email Address -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fa-solid fa-envelope prefix white-text text-shadow"></i>
                        <input id="email_address" name="email_address"
                        type="email" class="validate" required>
                        <label for="email_address" class="white-text">Email Address</label>
                    </div>
                </div>
                <!-- DOB -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fa-regular fa-calendar-days white-text text-shadow prefix"></i>
                        <input id="dob" name="dob" type="text" class="datepicker">
                    </div>
                </div>
                <!-- Password -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fa-solid fa-lock prefix white-text text-shadow"></i>
                        <input id="password" name="password" 
                        type="password" class="validate" pattern="^[a-zA-Z0-9]{7,18}$"
                        minlength="7" maxlength="18" required>
                        <label for="password" class="white-text">Password</label>
                    </div>
                </div>
                <!-- Confirm Password -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fa-solid fa-check prefix white-text text-shadow"></i>
                        <input id="confirm_password" name="confirm_password" 
                        type="password" class="validate" pattern="^[a-zA-Z0-9]{7,18}$"
                        minlength="7" maxlength="18" required>
                        <label for="confirm_password" class="white-text">Confirm Password</label>
                    </div>
                </div>
                <!-- submit button-->
                <div class="row">
                    <button type="submit" class="col s12 btn-large purple darken-3">Register Now
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col s12">
            <p class="center-align">
                Already a member? 
                <a href="{{ url_for('login') }}" class="white-text">Log In Here</a>
            </p>
        </div>
    </div>
{% endblock %}