{% extends "base.html" %}

{% block content %}

    <h3 class="center-align white-text text-shadow">REGISTER</h3>

    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register') }}">
            <div class="card-panel light-blue accent-3">
                <!-- Username -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fa-solid fa-user prefix orange-text text-darken-2"></i>
                        <input id="username" name="username" type="text" class="validate">
                        <label for="username">Username</label>
                    </div>
                </div>
                <!-- Email Address -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fa-solid fa-envelope prefix orange-text text-darken-2"></i>
                        <input id="email" name="email"type="email" class="validate">
                        <label for="email">Email Address</label>
                    </div>
                </div>
                <!-- Password -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fa-solid fa-lock prefix orange-text text-darken-2"></i>
                        <input id="password" name="password" type="password" class="validate">
                        <label for="password">Password</label>
                    </div>
                </div>
                <!-- Confirm Password -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fa-solid fa-check prefix orange-text text-darken-2"></i>
                        <input id="confirm_password" name="confirm_password" type="password" class="validate">
                        <label for="confirm_password">Confirm Password</label>
                    </div>
                </div>
                <!-- submit button-->
                <div class="row">
                    <button type="submit" class="col s12 btn-large light-blue accent-4">Register Now
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}