{% extends "base.html"%}
{% block content %}
    <h2 class="center-align white-text text-shadow">WORKOUT CATEGORIES</h2>

    <div class="row">
      {% for workout in workouts %}
        <div class="col s12 m6">
          <div class="card blue-grey lighten-1 post-cards large">
            <div class="card-image">
              {% if workout.workout_category_image %}
                <img src="{{ url_for('static' , filename = 'images/' + workout.workout_category_image) }}" 
                alt="photo of different categories of fitness">
              {% else %}
                <img src="{{ url_for('static' , filename ='/images/group-photo.png')  }}" 
                alt="group photo of fitness individuals">
              {% endif %}
              <span class="card-title">{{ workout.workout_category.upper() }}</span>
            </div>
            <div class="card-content">
              <p class="workout-category-text">{{ workout.workout_category_description}}</p>
            </div>
            <div class="card-action center-align">
              {% if workout.workout_category %}
                <a href="{{ url_for('add_post') }}" 
                class="btn-small purple darken-3 tooltipped" data-position="right" 
                data-tooltip="Post {{workout.workout_category}} Workout">Post Workout</a>
              {% else %}
              {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>




{% endblock %}